<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>servlets.IniciarSesionCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarUsuarios</servlet-name>
        <servlet-class>servlets.ConsultarUsuariosCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarUsuario</servlet-name>
        <servlet-class>servlets.ConsultarUsuarioCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>servlets.ModificarUsuarioCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarTorneos</servlet-name>
        <servlet-class>servlets.ConsultarTorneos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarUsuarios</servlet-name>
        <url-pattern>/Admin/ConsultarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarUsuario</servlet-name>
        <url-pattern>/ConsultarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/ModificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarTorneos</servlet-name>
        <url-pattern>/ConsultarTorneos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
