<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>servlets.IniciarSesionCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarUsuarios</servlet-name>
        <servlet-class>servlets.ConsultarUsuariosCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarUsuario</servlet-name>
        <servlet-class>servlets.ConsultarUsuarioCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>servlets.ModificarUsuarioCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarTorneosCtrl</servlet-name>
        <servlet-class>servlets.ConsultarTorneosCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Arbol</servlet-name>
        <servlet-class>servlets.Arbol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearTorneoCtrl</servlet-name>
        <servlet-class>servlets.CrearTorneoCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosTorneoCtrl</servlet-name>
        <servlet-class>servlets.UsuariosTorneoCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DefinirUsuariosTorneoCtrl</servlet-name>
        <servlet-class>servlets.DefinirUsuariosTorneoCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearEstructuraCtrl</servlet-name>
        <servlet-class>servlets.CrearEstructuraCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NumeroJugadoresCtrl</servlet-name>
        <servlet-class>servlets.NumeroJugadoresCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarUsuarios</servlet-name>
        <url-pattern>/Admin/ConsultarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarUsuario</servlet-name>
        <url-pattern>/ConsultarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/ModificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarTorneosCtrl</servlet-name>
        <url-pattern>/ConsultarTorneosCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Arbol</servlet-name>
        <url-pattern>/arbol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearTorneoCtrl</servlet-name>
        <url-pattern>/admin/CrearTorneoCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosTorneoCtrl</servlet-name>
        <url-pattern>/admin/UsuariosTorneoCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DefinirUsuariosTorneoCtrl</servlet-name>
        <url-pattern>/admin/DefinirUsuariosTorneoCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearEstructuraCtrl</servlet-name>
        <url-pattern>/admin/CrearEstructuraCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NumeroJugadoresCtrl</servlet-name>
        <url-pattern>/NumeroJugadoresCtrl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
